* {
    padding: 0;
    margin: 0;
    font-family: "Agbalumo", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
}
a {
    text-decoration: none;
}
a:hover {
    color: rgba(0, 0, 0, 0.250);
    transition: 10s;
}
body {
    overflow-y: hidden;
    overflow-x: hidden;
}
#wrapper {
    height: 100vh;
    /*border: solid rgb(58, 58, 58) 5px; */
    border: solid rgb(0, 0, 0) 5px;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
}
#intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20vh;
}
#contact {
    height: 20vh;
    list-style-type:none;
    margin-right: 10px;
}
#contactlist {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#logo {
    height: 150px;
    width: auto;
}
.rotate-logo {
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#title {
    font-size: 4rem;
}
main {
    height: 80vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.scrollable-container {
    height: 95%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.thingcontainer {
    height: 95%;
    width: 750px;
    margin: 5px;
    border: solid rgb(0, 0, 0) 5px;
    flex-shrink: 0; /* Prevents squishing */

    display: flex;
}
.infocontainer {
    height: 100%;
    width: 33%;
    margin: 10px;
}
.showcase {
    height: 100%;
    width: auto;
}

/*gör en description för mobil och för dator, separata, kortare för lur så det är mindre plats*/

@media screen and (max-width: 600px) {
    .scrollable-container {
        flex-direction: column;
    }
    body {
        overflow-y:auto;
        overflow-x: hidden;
    }
    .thingcontainer {
        width: 94%;
        flex-direction: column;
    }
    .infocontainer {
        width: 33%;
        margin: 10px;
    }
    .showcase {
        height: 100%;
        width: auto;
    }
  }