body, html {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif, sans-serif;
}
a {
    color: rgb(251, 246, 208);
}
body {
    background-color: rgb(255, 252, 232);
}
li {
    list-style-type: none;
}
/*homies*/
header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 2;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(251, 246, 208);
}

.aligntitle {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #244855;
}

.home {
    display: inline-block; 
    text-align: center;
    text-decoration: none;
}

#title {
    font-family: 'eckmannpsych-small', sans-serif;
    font-size: 2rem;
}

#marquee {
    background-color: #90AEAD;
    height: 50px;
    display: flex;
    align-items: center;
}
#marquee h2 {
    font-style: normal;
    color: rgb(251, 246, 208);
}
main {
    min-height: 100%;
}
.space {
    height: 99px;
    width: 100%;
}
#mainwrapper {
    border-top: 0px;
    height: calc(100vh - 102px);
    overflow-y: hidden;
}
#soytext {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#soytext p a {
    color: #244855;
    font-weight: bold;
}
.extra p a {
    color: #244855;
    font-weight: bold;
}
#graphic {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
.logo {
    height: 40%;
    width: 80%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
}
.skills {
    display: none;
}
.tinylogo {
    height: 30%;
    width: 30%;
}
.extra {
    display: block;
    padding: 3vw;

}

#second-title-align {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#title2 {
    font-family: 'eckmannpsych-small', sans-serif;
    font-size: 2rem;
    position: relative;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
    border-top: 0px;
  }
  
  .card {
    overflow: hidden;
    background-color: #e68433;
    border-radius: 10px;
  }

    .card img {
    width: 100%;
    height: 60vw;
    object-fit: cover;
}

    .card h3 {
    text-align: center;
    margin: 10px 0;
    text-decoration: none;
}

    .card:hover {
    background-color: #c6712a;
    transition: 0.2s ease;
}

footer {
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-copyright {
    font-size: 12px;
}

.slideshowwrapper {
    max-height: 80%;
    width: 100%;
}

.thumbnailwrapper {
    height: 20%;
    width: 100%;
}
#thumbnail-carousel div ul {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

/*splide*/

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .splide__slide {
    opacity: 0.6;
  }
  .splide__slide.is-active {
    opacity: 1;
  }


/*project*/

.project_showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_description {
    background-color: rgb(251, 246, 208);
    min-height: 30vh;
    display: flex;
    flex-direction: column;
}

.nameninfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 3vw;
}
.nameninfo ul li {
    padding-left: 10px;
    padding-top: 10px;
}
.description {
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 4vw;
}

@media (min-width: 650px) {
    #title {
        font-size: 2rem;
    }
    #mainwrapper {
        display: flex;
    }
    #soytext {
        height: 100%;
        width: 50%;

        padding: 80px;
    }
    #graphic {
        height: 100%;
        width: 50%;
    }
    .logo {
        height: 70%;
        width: auto;
        max-width: 100%;
    }
    .skills {
        display: inline;
    }
    .extra {
        display: none;
    }
    .portfolio {
        grid-template-columns: repeat(2, 1fr);
    }
    .card img {
        height: 30vw; 
    }

    .slideshowwrapper {
        height: 100%;
        max-width: 80vw;
    }
    .slideshowwrapper section {
        height: 100%;
    }
    #image-carousel div {
        height: 100%;
    }
    #image-carousel div ul {
        width: 100%;
    }

    /*
    .slideshowwrapper {
        max-height: 60%;
        width: 60%;
    }
    .project_showcase {
        height: 75vh;
        max-width:100vw !important;
    }*/

    .project_description {
        flex-direction: row;
    }
    .nameninfo {
        width: 30%;
    }

    }

    @media (min-width: 900px) {
        .slideshowwrapper {

            max-width: 60vw;
        }
    }

    @media (min-width: 650px) and (max-width: 1500px) {
    .logo {
        height:auto;
        width:40vw;
        max-width: fit-content;
    }
} 

/*info*/

#linkinbio {
    height: calc(100vh - 99px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#linkinbio a {
    color: #244855;
}

