body, html {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "ibm-plex-mono", Helvetica, Arial, sans-serif, sans-serif;
}
a {
    color: black;
}
body {
    border: 1px black solid;
}
li {
    list-style-type: none;
}
/*homies*/
header {
    width: 100%;
    height: 100px;

    position: fixed;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px black solid;
    background-color: white;
}
.aligntitle {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px black solid;
}
.home {
    width: 261px;
}
#title {
    font-family: 'eckmannpsych-small', sans-serif;
    font-size: 2rem;
    position: absolute;
    top: 4px;
}
#marquee {
    border: 1px black solid;
    height: 50px;
}
#marquee h2 {
    font-style: normal;
}
main {
    min-height: 100%;
}
.space {
    height: 99px;
    width: 100%;
}
#mainwrapper {
    border: 1px black solid;
    height: calc(100vh - 102px);
    overflow-y: hidden;
}
#soytext {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#graphic {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
.logo {
    height: auto;
    width: 70%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    z-index: 1;
}
.logo.active {
    opacity: 1;
}
.skills {
    display: none;
}
.tinylogo {
    height: 30%;
    width: 30%;
}
.extra {
    display: inline;
    padding: 80px;
}

#second-title-align {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px black solid;
}
#title2 {
    font-family: 'eckmannpsych-small', sans-serif;
    font-size: 2rem;
    position: relative;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  .card {
    border: 2px solid #000000;
    overflow: hidden;
    background-color: #fff;
  }

    .card img {
    width: 100%;
    height: 60vw;
}

    .card h3 {
    text-align: center;
    margin: 10px 0;
}

    .card:hover {
    background-color: #c3c3c3;
    transition: 0.2s ease;
}

footer {
    margin: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-copyright {
    font-size: 12px;
}

.slideshowwrapper {
    max-height: 80%;
    width: 100%;
}

.thumbnailwrapper {
    height: 20%;
    width: 100%;
}
#thumbnail-carousel div ul {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

/*splide*/

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .splide__slide {
    opacity: 0.6;
  }
  .splide__slide.is-active {
    opacity: 1;
  }


/*project*/

.project_showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_description {
    border: 2px black solid;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
}

.nameninfo {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 3vw;
}
.description {
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 4vw;
}

@media (min-width: 650px) {
    #title {
        font-size: 2rem;
    }
    #mainwrapper {
        display: flex;
    }
    #soytext {
        height: 100%;
        width: 50%;

        padding: 80px;
    }
    #graphic {
        height: 100%;
        width: 50%;
    }
    .logo {
        height: 70%;
        width: auto;
        max-width: 100%;
    }
    .skills {
        display: inline;
    }
    .extra {
        display: none;
    }
    .portfolio {
        grid-template-columns: repeat(2, 1fr);
    }
    .card img {
        height: 30vw; 
    }

    .slideshowwrapper {
        height: 100%;
        max-width: 80vw;
    }
    .slideshowwrapper section {
        height: 100%;
    }
    #image-carousel div {
        height: 100%;
    }
    #image-carousel div ul {
        width: 100%;
    }

    /*
    .slideshowwrapper {
        max-height: 60%;
        width: 60%;
    }
    .project_showcase {
        height: 75vh;
        max-width:100vw !important;
    }*/

    .project_description {
        flex-direction: row;
    }
    .nameninfo {
        width: 30%;
    }

    }

    @media (min-width: 900px) {
        .slideshowwrapper {

            max-width: 60vw;
        }
    }

    @media (min-width: 650px) and (max-width: 1500px) {
    .logo {
        height:auto;
        width:40vw;
        max-width: fit-content;
    }
    



} 

